<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
    <script src="js/mystyle.js"></script>
</head>
<BODY BGCOLOR="#000000"></BODY>
<body>
<a href="http://localhost:8070/Register"><img  src =https://www.flaticon.com/svg/static/icons/svg/3781/3781880.svg width="55" align="right" hspace="10" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353447.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353435.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353432.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353429.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353432.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353446.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353447.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353433.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353436.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353439.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353440.svg width="40" align="left" hspace="5" vspace="20"></a>
<img  src =https://www.flaticon.com/svg/static/icons/svg/1353/1353446.svg width="40" align="left" hspace="5" vspace="20"></a>
<a href="http://localhost:8070/login"><img  src = "https://www.flaticon.com/svg/static/icons/svg/891/891401.svg" width="55" align="right"  vspace="20"></a>
</body>

<div class="c2mzns">
    <div class="c5TXIP">
        <div class="c2iYAv">
            <div class="cRjKsc">
        <a th:href="@{/Baby}">
            <img src="http://assets.stickpng.com/thumbs/58b17000102ddecdee0dd036.png" align="left" width="400"  hspace="25" vspace="200">
        </a>
            </div>
        </div>
    <div class="c3vCyH"></div>
    <div class="c16H9d">
        <a age="0" th:href="@{/Baby}" class="title" title="Baby" data-spm-anchor-id="a2o4m.searchlist.list.21">Baby</a>
    </div>
</div>
</div>
<div class="c2mzns">
    <div class="c5TXIP1">
        <div class="c2iYAv">
            <div class="cRjKsc">
        <a th:href="@{/Romantic}">
            <img src="https://www.freepnglogos.com/uploads/boss-baby-png/boss-baby-poderoso-chefinho-baby-boss-digital-paper-craft-20.png" align="left" width="250"  hspace="25" vspace="200">
        </a>
    </div>
        </div>
        <div class="c3vCyH"></div>
        <div class="c16H9d">
            <a age="0" th:href="@{/Romantic}" class="title" title="Romantic" data-spm-anchor-id="a2o4m.searchlist.list.21">Romantic</a>
        </div>
    </div>
</div>

    <div class="c2mzns">
        <div class="c5TXIP2">
            <div class="c2iYAv">
                <div class="cRjKsc">
<a th:href="@{/Fantasy}">
            <img src="https://1.bp.blogspot.com/-ykrghW_GxFU/W43VvQstAjI/AAAAAAABUBM/Uk6mR_r7eusB2Y-sHUUI9wJLXMm0g-LrACKgBGAs/s1600/O-Poderoso-Chefinho-Baby-Boss-Jimbo-PNG.png" align="left" width="250"  hspace="25" vspace="200">
        </a>
    </div>
            </div>
            <div class="c3vCyH"></div>
            <div class="c16H9d">
                <a age="0" th:href="@{/Fantasy}" class="title" title="Fantasy" data-spm-anchor-id="a2o4m.searchlist.list.21">Fantasy</a>
            </div>
        </div>
    </div>
<div class="c2mzns">
    <div class="c5TXIP3">
        <div class="c2iYAv">
            <div class="cRjKsc">
        <a th:href="@{/Action}">
            <img src="http://assets.stickpng.com/thumbs/58b17033102ddecdee0dd03a.png" align="left" width="250"  hspace="25" vspace="200">
        </a>
</div>
        </div>
        <div class="c3vCyH"></div>
        <div class="c16H9d22">
            <a age="0" th:href="@{/Action}" class="title" title="Action" data-spm-anchor-id="a2o4m.searchlist.list.21">Action</a>
        </div>
    </div>
</div>
</html>