.my-font {
   font-family: 'Amatic SC', cursive;

}
.Baby{
    position: relative;
        height: 1000px;
        width: 800px;
        margin-top: -9000px;
        margin-left: 1300px;
}
.Romantic{
    margin-left: -850px;
}

.c2mzns {
position: relative;
    height: 1000px;
    width: 800px;
}
.pdp-product-title .pdp-mod-product-badge-title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: normal;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.c3KeDq {
    padding: 0 8px;
    margin: 0 auto;
    font-size: 13px;
}
.c3e8SH {
    position: relative;
    margin: 00px 0 0px;
    padding: 0 00px;
}
.c5TXIP {
    position: absolute;
    padding-bottom: 10px;
    width: 234px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.c3vCyH {
    height: 40px;
    line-height: 24px;
}
.c16H9d {
    height: 32px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
        margin-top: 500px;
        margin-left: 390px;
}
.c2iYAv {
    width: 233px;
    position: relative;
}
.title {
    font-size: 24px;
    margin-left: -265px;
    color: #FFFFFF;
}
.c5TXIP1 {
    position: absolute;
    padding-bottom: 10px;
    width: 234px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left:500px;
    margin-top: -1000px;
}
.c5TXIP2 {
    position: absolute;
    padding-bottom: 10px;
    width: 234px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: 900px;
    margin-top: -2000px;
    }
    .c5TXIP3 {
        position: absolute;
        padding-bottom: 10px;
        width: 234px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
            margin-left: 1250px;
            margin-top: -2950px;
        }
.c16H9d22 {
        margin-top: 450px;
        margin-left: 380px;
        }
.c16H9d2 {
        margin-top: 600px;
        margin-left: 380px;
}
.c16H9d3 {
        margin-top: -200px;
        margin-left: 800px;
}
.c16H9d4 {
    margin-top: -220px;
    margin-left: 1120px;
}
.c16H9d5 {
    margin-top: -240px;
    margin-left: 1450px;
}
.c16H9d6 {
    margin-top: -220px;
    margin-left: 1760px;
}
cRjKsc {
    font-size: 19px;
    height: 233px;
        margin-left: 10px;
        margin-top: 10px;
    }

.title1 {
    font-size: 24px;
    margin-left: -225px;
    color: #FFFFFF;
}
.title2 {
    font-size: 24px;
    margin-left: -285px;
    color: #FFFFFF;
}
.posit {
    margin-top: -467px;
    margin-left: 30px;
}
.posit1 {
    margin-top: -613px;
    margin-left: 370px;
}
.posit2 {
    margin-top: -658px;
    margin-left: 1090px;
}
.posit3 {
    margin-top: -698px;
    margin-left: 1410px;
}
.nav-link{
    color:#000000;
    width:20px
}
.title3 {
    font-size: 24px;
    margin-left: -305px;
    color: #FFFFFF;
    }
.posit4 {
    margin-top: -480px;
    margin-left: 310px;
}
.posit5 {
    margin-top: -695px;
    margin-left: 1110px;
}
.posit6 {
    margin-top: -700px;
    margin-left: 1410px;
}
.title4 {
    font-size: 24px;
    margin-left: -305px;
    color: #FFFFFF;
    }
.title5 {
    font-size: 24px;
    margin-left: -205px;
    color: #FFFFFF;
        }
.posit7 {
    margin-top: -467px;
    margin-left: -10px;
}.posit8 {
     margin-top: -467px;
     margin-left: 20px;
 }
.posit9 {
    margin-top: -457px;
    margin-left: 340px;
}
.posit10 {
    margin-top: -461px;
    margin-left: 640px;
}
.posit11 {
     margin-top: -630px;
     margin-left: 1350px;
 }
 .title6 {
     font-size: 23px;
     margin-left: -325px;
     color: #FFFFFF;
 }
  .title7{
      font-size: 24px;
      margin-left: -255px;
      color: #FFFFFF;
}
.c16H9d7 {
    margin-top: -260px;
    margin-left: 1420px;
}
.c16H9d8 {
    margin-top: -220px;
    margin-left: 1810px;
}
.c16H9d9 {
    margin-top: -220px;
    margin-left: 710px;
}
.c16H9d10 {
    margin-top: -220px;
    margin-left: 1160px;
}
.c16H9d11 {
    margin-top: -220px;
    margin-left: 1410px;
}
.c16H9d12 {
    margin-top: -230px;
    margin-left: 1645px;
}
.posit12 {
    margin-top: -500px;
    margin-left: 360px;
}
.posit13 {
    margin-top: -460px;
    margin-left: 640px;
}
.posit14 {
    margin-top: -610px;
    margin-left: 1360px;
}
.c16H9d13 {
    margin-top: -210px;
    margin-left: 735px;
}
.c16H9d14 {
    margin-top: -230px;
    margin-left: 1085px;
}
.c16H9d15 {
    margin-top: -210px;
    margin-left: 1345px;
}
.c16H9d16 {
    margin-top: -220px;
    margin-left: 1605px;
}