<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
    <script src="js/mystyle.js"></script>
</head>
<BODY BGCOLOR="#000000"></BODY>
<img  src= http://assets.stickpng.com/thumbs/58b17000102ddecdee0dd036.png width="400" align="left" hspace="100" vspace="200">
<img  src= "https://www.freepnglogos.com/uploads/boss-baby-png/boss-baby-poderoso-chefinho-baby-boss-digital-paper-craft-20.png"  width="260" align="center" hspace="100" vspace="200">
<img  src= "https://1.bp.blogspot.com/-ykrghW_GxFU/W43VvQstAjI/AAAAAAABUBM/Uk6mR_r7eusB2Y-sHUUI9wJLXMm0g-LrACKgBGAs/s1600/O-Poderoso-Chefinho-Baby-Boss-Jimbo-PNG.png" width="250" align="center" vspace="200">
<img  src= "http://assets.stickpng.com/thumbs/58b17033102ddecdee0dd03a.png"  width="300" align="center" hspace="100" vspace="200">
</body>

</html>